/* CSS for Happy Paws Websites */

* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    height: 100%; width: 97.7%;
    margin-left: 1em;
    margin-top: 0px;
}

/* CSS for Top of the Page and Navigation */
header {
    padding: 0em;
    margin-bottom: -.6em;
}
header::after {
    content: '';
    clear: both;
    display: table;
}
#nav h2 {
    font-weight: normal;
    font-size: 180%;
    display: inline-block;
    text-align: center;
    background-color: pink;
    color: black;
    width: 7em;
    height: 1.5em;
    border-radius: 5px;
    padding: .2em;
}
#nav a {text-decoration: none; color: black;}
.standardNav a {
    float: right;
    padding: .8em 1.2em;
    margin: 1.5em 0em 0em 0em;
}
/* Hover Navigation */
#nav a:hover {background-color: lightgrey;} 
/* Careful. DropdownContainer causing H2 Happy Paws to misposition if not float: right */
.dropdownContainer {display: none; float: right; position: relative;}
.dropbtn {font-size: 180%;}
.dropdownContent {display: none; position: absolute; z-index: 1; right: 0;}
.dropdownContent a {display: block; background-color: beige; color: black; font-size: 200%; padding: .5rem 1rem;}
/* .dropdownContainer:hover .dropdownContent {display: block;}  commented out to remove and replace with JS click*/
.show {display: block;}

/* CSS for large dog pictures and the text inside the dog pic slideshow */
.dogPicSection {
    position: relative;
}
.imgtext {
    position: absolute;
    color: beige;
    top: 30%;
    left: 1em;
    font-size: 200%;
}
.imgtext h1 {
    font-size: 240%;
    margin-top: -.2em;
    margin-bottom: .5em;
}
.imgtext a {
    background-color: pink;
    color: black;
    display: inline-block;
    text-align: center;
    height: 2em;
    width: 7em;
    padding: .4em;
    margin-top: -.5em;
    border-radius: 6px;
}
.imgtext a:hover {
    background-color: lightgrey;
}
/* End of Dog pic slideshow */

/* CSS covering the Trainers/Activities/Contact section */
.section {
    text-align: center;
    margin-top: 5em;
}
.sectiontitle {font-size: 170%; letter-spacing: .2em; font-weight: normal;}
.description1 {font-style: italic; color: grey; margin-bottom: 4em;}

.trainers , .activities {
    width: 100%;
    display: flex;
}
.column {
    width: 32%;
    margin: .5em;
    box-shadow: 2px 2px 6px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 3rem;
    position: relative;
}
.column img { width: 100%;}
.columnText {padding-left: 1rem;}
.column a {
    background-color: pink;
    color: black;
    display: block;
    text-align: center;
    font-size: 85%;
    padding: .8em;
    width: 90%;
    border-radius: .3em;
    position: absolute;
    bottom: .5rem;
    left: 5%;
}
.column a:hover {
    background-color: lightgrey;
}

/* Contact Form */
.sendMessage {
    text-decoration: none; 
    border: none; 
    background-color: pink; 
    color: black;
    border-radius: .5rem;
    font-size: 120%;
    margin-left: 50%;
    transform: translate(-50%);
}
.sendMessage:hover {background-color: lightgrey;}

/* Footer */
footer h2 {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    padding: 1rem;
    border-radius: 1rem;
}
/* Media Queries */
@media only screen and (max-width: 680px) {
    .imgtext h1 {
        display: none;
    }
    .trainers , .activities {flex-wrap: wrap; justify-content: center;}
    .column {width: 90%;}
}

@media only screen and (max-width: 680px) {
    .standardNav a {
        display: none;
    }
    .dropdownContainer {
        display: block;
        margin-right: 10%;
        margin-top: 1.5rem;
    }  
}